<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Préparation des commandes</h2>
<h3>Créées</h3>
{{#each @model.orders as |order|}}
  <ul>
      <LinkTo @route="order" @model={{order.id}}>
  {{#if (eq order.status 'created')}}<li><i class="orange hourglass outline icon"></i>
    {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span> </li>{{/if}}
      </LinkTo>
  </ul>
{{/each}}
<h3>Préparées</h3>
{{#each @model.orders as |order|}}
  <ul>
    <LinkTo @route="order" @model={{order.id}}>
        {{#if (eq order.status 'prepared')}}
          <li><i class="green check icon"></i>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
            <a class="ui green label">{{order.toPay}} €</a></li>{{/if}}
      </LinkTo>
  </ul>
{{/each}}